In [1]:
# importing required libraries
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

# Question 1
Write a python program to display all the header tags from wikipedia.org.

In [2]:
# send to get request to the webpage server to get the sorce code of the page
page=requests.get('https://en.wikipedia.org/wiki/Main_Page')
# print(page)

#page Content
soup=BeautifulSoup(page.content)
# print(soup)




# for H1 tag
h1=soup.find('h1')
# print(h1.text)

#find all h1 tags
h1=[]
for i in soup.find_all('h1'):
    h1.append(i.text)
print('H1 tags = ',h1)
print('\n')

#for H2 tag
h2=soup.find('h2')
# print(h2.text)

# find all h2 tags
h2=[]
for i in soup.find_all('h2'):
    h2.append(i.text)
print('H2 tags = ',h2)
print('\n')

# for h3 tag
h3=soup.find('h3')
# print(h3.text)

# find all h3 tags
h3=[]
for i in soup.find_all('h3'):
    i=i.text
    h3.append(i.strip())
print('H3 tags = ',h3)
print('\n')

# for h4 tag
h4=soup.find('h4')
# print(h4)

# find all h4 tags
h4=[]
for i in soup.find_all('h4'):
    h4.append(i.text)
print('H4 tags = ',h4)
print('\n')


# for h5 tag
h5=soup.find('h5')
# print(h5)

# find all h5 tags
h5=[]
for i in soup.find_all('h5'):
    h5.append(i.text)
print('H5 tags = ',h5)
print('\n')


# for h6 tag
h6=soup.find('h6')
# print(h6)

# find all h6 tags
h6=[]
for i in soup.find_all('h6'):
    h6.append(i.text)
print('H6 tags = ',h6)
# AS we observe in last three tags h4,h5 and h6 are not available in website

H1 tags =  ['Main Page', 'Welcome to Wikipedia']


H2 tags =  ["From today's featured article", 'Did you know\xa0...', 'In the news', 'On this day', "Today's featured picture", 'Other areas of Wikipedia', "Wikipedia's sister projects", 'Wikipedia languages', 'Navigation menu']


H3 tags =  ['Personal tools', 'Namespaces', 'Views', 'Navigation', 'Contribute', 'Tools', 'Print/export', 'In other projects', 'Languages']


H4 tags =  []


H5 tags =  []


H6 tags =  []

# Question 2
Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
and make data frame.

In [3]:
# # send to get request to the webpage server to get the sorce code of the pages
page1=requests.get("https://www.imdb.com/search/title/?groups=top_100&view=simple&sort=user_rating,desc&ref_=adv_prv")
page2=requests.get("https://www.imdb.com/search/title/?groups=top_100&view=simple&sort=user_rating,desc&start=51&ref_=adv_nxt")
# # print(page1)
# # print(page2)

# #page Content
soup1=BeautifulSoup(page1.content)
soup2=BeautifulSoup(page2.content)
# # print(soup1)
# # print(soup2)




# rank for 100 movies

# for first 50 movies

# for first movie
rank1=soup1.find('span',class_='lister-item-index unbold text-primary')
# print(rank1.text)

first50=[]
for i in soup1.find_all('span',class_='lister-item-index unbold text-primary'):
    i=i.text
    i=int(re.sub(r'[^0-9]','',i))
    first50.append(i)
# print(first50)

# for page 2 first movie
rank2=soup2.find('span',class_='lister-item-index unbold text-primary')
# print(rank2.text)

page2_51to100=[]
for i in soup2.find_all('span',class_='lister-item-index unbold text-primary'):
    i=i.text
    i=int(re.sub(r'[^0-9]','',i))
    page2_51to100.append(i)
# print(page2_51to100)

rank=first50+page2_51to100
# print('Rank=',rank)
# print('\n')

# year of release 100 movies

# for first 50 movies
# for first movie
year1=soup1.find('span',class_='lister-item-year text-muted unbold')
# print(year1.text)

year50=[]
for i in soup1.find_all('span',class_='lister-item-year text-muted unbold'):
    year50.append(i.text)
# print(year50)

# for page 2 first (51) movie release year
year2=soup2.find('span',class_='lister-item-year text-muted unbold')
# print(year2.text)

page2_51to100=[]
for i in soup2.find_all('span',class_='lister-item-year text-muted unbold'):
    page2_51to100.append(i.text)
# print(page2_51to100)

year1=year50+page2_51to100
# print(year1)

year=[]
for i in year1:
    i=int(re.sub(r'[^0-9]','',i))
    year.append(i)
# print('year of release=',year)
# print("\n")


# rating of 100 movies

# for first 50 movies rating
# for first movie
rating1=soup1.find('div',class_='col-imdb-rating')
#print(rating1)

rating50=[]
for i in soup1.find_all('div',class_='col-imdb-rating'):
    i=i.text.strip()
    rating50.append(float(i))

# for page 2 first (51) movie rating
rating2=soup2.find('div',class_='col-imdb-rating')
# print(rating2.text)

page2_51to100=[]
for i in soup2.find_all('div',class_='col-imdb-rating'):
    i=i.text.strip()
    page2_51to100.append(float(i))
# print(page2_51to100)
rating=rating50+page2_51to100
# print('Rating=',rating)
# print('\n')

# name of 100 movies

# for first 50 name rating
# for first movie

name1=soup1.find('span',class_='lister-item-header')
#print(name1)

name50=[]
for i in soup1.find_all('span',class_='lister-item-header'):
    name50.append(i.a.text)

# for page 2 first (51) movie rating
name2=soup2.find('span',class_='lister-item-header')
# print(name2.a.text)

page2_51to100=[]
for i in soup2.find_all('span',class_='lister-item-header'):
    page2_51to100.append(i.a.text)
# print(page2_51to100)

name=name50+page2_51to100
# print('Movie name=',name)
# print('\n')


#creation of data Frame
df=pd.DataFrame({'Rank':rank,'Movie':name,"Rating":rating,"Year of releace":year})
df

,Rank,Movie,Rating,Year of releace
0,1,The Shawshank Redemption,9.3,1994
1,2,The Godfather,9.2,1972
2,3,The Dark Knight,9.0,2008
3,4,The Lord of the Rings: The Return of the King,9.0,2003
4,5,Schindler's List,9.0,1993
...,...,...,...,...
95,96,North by Northwest,8.3,1959
96,97,Vertigo,8.3,1958
97,98,Singin' in the Rain,8.3,1952
98,99,Citizen Kane,8.3,1941
99,100,M - Eine Stadt sucht einen Mörder,8.3,1931

# Question 3
Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
release) and make data frame.

In [4]:
# # send to get request to the webpage server to get the sorce code of the pages
page=requests.get("https://www.imdb.com/list/ls056092300/?sort=user_rating,desc&st_dt=&mode=detail&page=1")
# print(page)

#page Content
soup=BeautifulSoup(page.content)
# print(soup)


# rank for 100 movies

# for first movie
rank=soup.find('span',class_='lister-item-index unbold text-primary')
#print(rank.text)

first=[]
for i in soup.find_all('span',class_='lister-item-index unbold text-primary'):
    i=i.text
    i=int(re.sub(r'[^0-9]','',i))
    first.append(i)
# print(first)


rank=first
# print('Rank=',rank)
# print('\n')


# year of release 100 movies

# for first movie
year=soup.find('span',class_='lister-item-year text-muted unbold')
# print(year.text)

year=[]
for i in soup.find_all('span',class_='lister-item-year text-muted unbold'):
    year.append(i.text)
# print(year)

year1=[]
for i in year:
    i=int(re.sub(r'[^0-9]','',i))
    year1.append(i)
# print('year of release=',year1)
# print("\n")


# rating of 100 movies

# for first movie
rating1=soup.find('div',class_="ipl-rating-star small")
#print(rating1)

rating=[]
for i in soup.find_all('div',class_="ipl-rating-star small"):
    i=i.text.strip()
    rating.append(float(i))

# print('Rating=',rating)
# print('\n')

# name of 100 movies
# for first movie

name=soup.find('h3',class_='lister-item-header')
#print(name)

name100=[]
for i in soup.find_all('h3',class_='lister-item-header'):
    name100.append(i.a.text)

# print('Movie name=',name100)
# print('\n')

df=pd.DataFrame({'Rank':rank,'Movie':name100,"Rating":rating,"Year of releace":year1})
df

    Rank                         Movie  Rating  Year of releace
0      1               Sagara Sangamam     8.8             1983
1      2         Goopy Gyne Bagha Byne     8.7             1969
2      3                       Nayakan     8.6             1987
3      4               Pushpaka Vimana     8.6             1987
4      5                   Apur Sansar     8.5             1959
..   ...                           ...     ...              ...
95    96  Jis Desh Men Ganga Behti Hai     7.2             1960
96    97                        Vanaja     7.2             2006
97    98                      Enthiran     7.1             2010
98    99                       Chandni     6.7             1989
99   100                  Neecha Nagar     6.7             1946

[100 rows x 4 columns]

# Question 4
Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)
from https://presidentofindia.nic.in/former-presidents.htm

In [5]:
# # send to get request to the webpage server to get the sorce code of the pages
page=requests.get("https://presidentofindia.nic.in/former-presidents.htm")
# print(page1)

# #page Content
soup=BeautifulSoup(page.content)
# print(soup)



#data for president birth,name,term of office

first_term=soup.find('div',class_="presidentListing")
# for find name 
# print(first_term.h3.text)
name=first_term.h3.text
name_size=slice(0,-14)
# print(name[name_size])

# for find term of office
term=first_term.p.text
term_size=slice(16,-1)
# print(term[term_size])

#fetch all name and term of office data
name=[]
term=[]
name_size=slice(0,-14)
term_size=slice(16,-1,)
for i in soup.find_all('div',class_="presidentListing"):
    j=i.p.text
    i=i.h3.text
    name.append(i[name_size])
    term.append(j[16:])
# print("Name =",name)
# print('\n')
# print('Term of office =',term)

df=pd.DataFrame({"Name of President":name,
                "Term of office":term})
df

,Name of President,Term of office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherj,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kal,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Shar,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataram,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Sin,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Red,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahm,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Gi,"3 May, 1969 to 20 July, 1969 and 24 August, 19..."
11,Dr. Zakir Husa,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishn,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasa,"26 January, 1950 to 13 May, 1962"

# Question 5
Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [6]:
# send to get request to the webpage server to get the sorce code of the pages
page=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

#page Content
soup=BeautifulSoup(page.content)
# print(soup)


#team name
team_1=soup.find('span',class_='u-hide-phablet')
team_1.text
#fetch all data for team name
team=[]
j=0
for i in soup.find_all('span',class_='u-hide-phablet'):
    team.append(i.text)
    j=j+1
    if(j==10):
        break
# print('Team Name =',team)
# print('\n')

#Team matches
team_1match=soup.find('td',class_='rankings-block__banner--matches')
# print(team_1match.text)
team_1match=list(team_1match)
#Team matches
team_1Points=soup.find('td',class_='rankings-block__banner--points')
# print(team_1Points.text)
team_1Points=list(team_1Points)
#fetch all data for team matches
match=[]
for i in soup.find_all('td',class_='table-body__cell u-center-text'):
    match.append(i.text)
# print('Team Match =',match)

#seprate team match and it's points
totalmatches=[]
points=[]

for i in range(0,18):
    if(i%2==0):
        totalmatches.append(match[i])
    else:
        points.append(match[i])
        
matches=team_1match+totalmatches
points=team_1Points+points
# print(matches)
# print('\n')
# print(points)
# print('\n')


team_1rating=soup.find('td',class_='rankings-block__banner--rating u-text-right')
team1_rating=team_1rating.text.split()
# print(team_1rating.text.split())

rating=[]
j=0
for i in soup.find_all('td',class_='table-body__cell u-text-right rating'):
    rating.append(i.text)
    j=j+1
    if(j==9):
        break
# print('Team rating =',rating)
rating=team1_rating+rating
# print('Team rating =',rating)


df=pd.DataFrame({"Team Name":team,
                "Matches":matches,
                "Points":points,
                "Rating":rating})
df

      Team Name Matches Points Rating
0   New Zealand      23  2,670    116
1       England      30  3,400    113
2     Australia      32  3,572    112
3         India      35  3,866    110
4      Pakistan      22  2,354    107
5  South Africa      24  2,392    100
6    Bangladesh      30  2,753     92
7     Sri Lanka      30  2,677     89
8   Afghanistan      19  1,380     73
9   West Indies      41  2,902     71

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [7]:
# send to get request to the webpage server to get the sorce code of the pages
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

#page Content
soup=BeautifulSoup(page.content)
# print(soup)



#name of batsman
#firstname
fn=soup.find('div',class_='rankings-block__banner--name-large')
fn=[str(fn.text)]
# print(fn)

#fetch all data for name
name=[]
j=0
for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    name.append(i.a.text)
    j+=1
    if (j==9):
        break
name=fn+name
# print("Name of batsman = ",name)
# print('\n')

#name of country
#first name of country
fc=soup.find('div',class_='rankings-block__banner--nationality')
fc=fc.text.split()
# print(fc)


#fetch all data for country
country=[]
j=0
for i in soup.find_all('span',class_='table-body__logo-text'):
    country.append(i.text)
    j+=1
    if (j==9):
        break
country=fc+country
# print('Country = ',country)
# print('\n')


# rating of batsman
#first rating
fr=soup.find('div',class_='rankings-block__banner--rating')
fr=[str(fr.text)]
# print(fr)

rating=[]
j=0
for i in soup.find_all('td',class_='table-body__cell rating'):
    rating.append(i.text)
    j+=1
    if (j==9):
        break
rating=fr+rating
# print('Rating = ',rating)
# print('\n')

df=pd.DataFrame({"Name":name,
                "Country":country,
                "Rating":rating})
df

                    Name Country Rating
0             Babar Azam     PAK    890
1            Imam-ul-Haq     PAK    779
2  Rassie van der Dussen      SA    766
3        Quinton de Kock      SA    759
4           David Warner     AUS    747
5            Steve Smith     AUS    719
6         Jonny Bairstow     ENG    710
7            Virat Kohli     IND    707
8           Rohit Sharma     IND    704
9        Kane Williamson      NZ    701

c) Top 10 ODI bowlers along with the records of their team and rating.

In [8]:
# send to get request to the webpage server to get the sorce code of the pages
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

#page Content
soup=BeautifulSoup(page.content)
# print(soup)


#name of bowler
#firstname
fn=soup.find('div',class_='rankings-block__banner--name-large')
fn=[str(fn.text)]
# print(fn)

#fetch all data for name
name1=[]
j=0
for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    name1.append(i.a.text)
    j+=1
    if (j==9):
        break
name=fn+name1
# print("Name of bowler = ",name)
# print('\n')

#name of country
#first name of country
fc=soup.find('div',class_='rankings-block__banner--nationality')
fc=fc.text.split()
# print(fc)


#fetch all data for country
country1=[]
j=0
for i in soup.find_all('span',class_='table-body__logo-text'):
    country1.append(i.text)
    j+=1
    if (j==9):
        break
country=fc+country1
# print('Country = ',country)
# print('\n')
# rating of bowler
#first rating
fr=soup.find('div',class_='rankings-block__banner--rating')
fr=[str(fr.text)]
# print(fr)

rating2=[]
j=0
for i in soup.find_all('td',class_='table-body__cell rating'):
    rating2.append(i.text)
    j+=1
    if (j==9):
        break
rating=fr+rating2
# print('Rating = ',rating)
# print('\n')

df=pd.DataFrame({"Name":name,
                "Country":country,
                "Rating":rating})
df

                Name Country Rating
0        Trent Boult      NZ    760
1     Josh Hazlewood     AUS    727
2     Mitchell Starc     AUS    665
3     Shaheen Afridi     PAK    661
4         Matt Henry      NZ    656
5         Adam Zampa     AUS    655
6       Mehedi Hasan     BAN    655
7   Mujeeb Ur Rahman     AFG    650
8  Mustafizur Rahman     BAN    640
9        Rashid Khan     AFG    635

# Question 6
Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [9]:
# send to get request to the webpage server to get the sorce code of the pages
page=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

#page Content
soup=BeautifulSoup(page.content)
# print(soup)



#Women team name
team=soup.find('span',class_='u-hide-phablet')
team.text
#fetch all data for team name
teamf=[]
j=0
for i in soup.find_all('span',class_='u-hide-phablet'):
    teamf.append(i.text)
    j=j+1
    if(j==10):
        break
# print('Women Team Name =',teamf)
# print('\n')

#Team matches
team_1match=soup.find('td',class_='rankings-block__banner--matches')
# print(team_1match.text)
team_1=list(team_1match)
#Team matches
team_1Points=soup.find('td',class_='rankings-block__banner--points')
# print(team_1Points.text)
team_1P=list(team_1Points)
#fetch all data for team matches
match=[]
for i in soup.find_all('td',class_='table-body__cell u-center-text'):
    match.append(i.text)
# print('Team Match =',match)

#seprate team match and it's points
totalmatches=[]
points=[]

for i in range(0,18):
    if(i%2==0):
        totalmatches.append(match[i])
    else:
        points.append(match[i])
        
match=team_1+totalmatches
point=team_1P+points
# print('Women Team match =',match)
# print('\n')
# print("Women Team point = ",point)
# print('\n')


team_1rat=soup.find('td',class_='rankings-block__banner--rating u-text-right')
team1_rat=team_1rat.text.split()
# print(team_1rat.text.split())

ratings=[]
j=0
for i in soup.find_all('td',class_='table-body__cell u-text-right rating'):
    ratings.append(i.text)
    j=j+1
    if(j==9):
        break
# print('Team rating =',ratings)
rating=team1_rat+ratings
# print('Team rating =',rating)


df=pd.DataFrame({"Team Name":teamf,
                "Matches":match,
                "Points":point,
                "Rating":rating})
df

      Team Name Matches Points Rating
0     Australia      18  3,061    170
1  South Africa      26  3,098    119
2       England      25  2,904    116
3         India      27  2,820    104
4   New Zealand      24  2,425    101
5   West Indies      24  2,334     97
6    Bangladesh      12    932     78
7      Thailand       8    572     72
8      Pakistan      24  1,519     63
9     Sri Lanka       8    353     44

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [10]:
# send to get request to the webpage server to get the sorce code of the pages
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

#page Content
soup=BeautifulSoup(page.content)
# print(soup)



#name of batsman
#firstname of women team
fn=soup.find('div',class_='rankings-block__banner--name-large')
fn=[str(fn.text)]
# print(fn)

#fetch all data for name
names=[]
j=0
for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    names.append(i.a.text)
    j+=1
    if (j==9):
        break
names=fn+names
# print("Name of batsman = ",names)
# print('\n')

#name of country for women team
#first name of country
fcf=soup.find('div',class_='rankings-block__banner--nationality')
fcf=fcf.text.split()
# print(fcf)


#fetch all data for women team country
countrys=[]
j=0
for i in soup.find_all('span',class_='table-body__logo-text'):
    countrys.append(i.text)
    j+=1
    if (j==9):
        break
countrys=fc+countrys
# print('Country = ',countrys)
# print('\n')


# rating of women batsman
#first rating of women batsman
frw=soup.find('div',class_='rankings-block__banner--rating')
frw=[str(frw.text)]
# print(frw)

ratings=[]
j=0
for i in soup.find_all('td',class_='table-body__cell rating'):
    ratings.append(i.text)
    j+=1
    if (j==9):
        break
ratings=fr+ratings
# print('Rating = ',ratings)
# print('\n')

df=pd.DataFrame({"Name":names,
                "Country":countrys,
                "Rating":ratings})
df

                  Name Country Rating
0         Alyssa Healy      NZ    760
1          Beth Mooney     AUS    749
2      Laura Wolvaardt      SA    732
3       Natalie Sciver     ENG    725
4     Harmanpreet Kaur     IND    716
5      Smriti Mandhana     IND    714
6          Meg Lanning     AUS    710
7       Rachael Haynes     AUS    701
8    Amy Satterthwaite      NZ    661
9  Chamari Athapaththu      SL    655

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [11]:
# send to get request to the webpage server to get the sorce code of the pages
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')

#page Content
soup=BeautifulSoup(page.content)
# print(soup)



#name of all rounder
#firstname
fns=soup.find('div',class_='rankings-block__banner--name-large')
fns=[str(fns.text)]
# print(fns)

#fetch all data for name
namea=[]
j=0
for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    namea.append(i.a.text)
    j+=1
    if (j==9):
        break
name=fn+namea
# print("Name of all rounder women = ",name)
# print('\n')

#name of country for all rounder women
#first name of country
fca=soup.find('div',class_='rankings-block__banner--nationality')
fca=fca.text.split()
# print(fca)


#fetch all data for country
countrya=[]
j=0
for i in soup.find_all('span',class_='table-body__logo-text'):
    countrya.append(i.text)
    j+=1
    if (j==9):
        break
country=fc+countrya
# print('Country = ',country)
# print('\n')


# rating  for all rounder women
#first rating
fra=soup.find('div',class_='rankings-block__banner--rating')
fra=[str(fra.text)]
# print(fra)

ratinga=[]
j=0
for i in soup.find_all('td',class_='table-body__cell rating'):
    ratinga.append(i.text)
    j+=1
    if (j==9):
        break
rating=fr+ratinga
# print('Rating = ',rating)
# print('\n')

df=pd.DataFrame({"Name":name,
                "Country":country,
                "Rating":rating})
df

               Name Country Rating
0      Alyssa Healy      NZ    760
1      Ellyse Perry     AUS    374
2    Natalie Sciver     ENG    357
3       Amelia Kerr      NZ    356
4    Marizanne Kapp      SA    349
5     Deepti Sharma     IND    322
6  Ashleigh Gardner     AUS    270
7     Jess Jonassen     AUS    246
8    Jhulan Goswami     IND    214
9   Katherine Brunt     ENG    207

# Question 7
Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world 

i) Headline

ii) Time

iii) News Link

In [12]:
# send to get request to the webpage server to get the sorce code of the page
page=requests.get('https://www.cnbc.com/world/?region=world')
#print(page)
soup=BeautifulSoup(page.content)
#print(soup)




#for find first Headline of news
Headline=soup.find('div',class_='LatestNews-headlineWrapper')
# print(Headline.a.text)

#for find first time of news
Time=soup.find('div',class_='LatestNews-headlineWrapper')
# print(Time.span.text)

#for find first link of news
Link=soup.find('div',class_='LatestNews-headlineWrapper')
# print(Link.a.get('href'))


#for find all Headlines,Times and links
headline=[]
link=[]
time=[]
for i in soup.find_all('div',class_='LatestNews-headlineWrapper'):
    k=i.a.text
    j=i.span.text
    l=i.a.get("href")
    headline.append(k)
    link.append(l)
    time.append(j)
# print('Headline = ',headline)
# print('\n')
# print("Link = ",link)
# print('\n')
# print("Time = ",time)
# print('\n')

#creation of DataFrame
df=pd.DataFrame({
    'Headline':headline,
    'Time':time,
    'Link':link
})
df

,Headline,Time,Link
0,SM Entertainment plans to set up Southeast Asi...,40 Min Ago,https://www.cnbc.com/2022/12/01/south-korea-sm...
1,"China tech stocks have 'a lot of upside,' fund...",2 Hours Ago,https://www.cnbc.com/2022/12/01/china-internet...
2,"'Antiwork' and 'act your wage': Young, disgrun...",4 Hours Ago,https://www.cnbc.com/2022/12/01/young-disgrunt...
3,,5 Hours Ago,/investingclub/
4,Cramer's lightning round: Crestwood Equity is ...,5 Hours Ago,https://www.cnbc.com/2022/11/30/cramers-lightn...
5,,5 Hours Ago,/investingclub/
6,"Elon Musk meets Tim Cook, says Apple never con...",5 Hours Ago,https://www.cnbc.com/2022/11/30/elon-musk-meet...
7,Asia-Pacific markets trade higher as Fed signa...,6 Hours Ago,https://www.cnbc.com/2022/12/01/asia-pacific-s...
8,Jeffrey Epstein estate settles Virgin Islands ...,6 Hours Ago,https://www.cnbc.com/2022/11/30/jeffrey-epstei...
9,,6 Hours Ago,/pro/
10,,6 Hours Ago,/pro/
11,Jim Cramer says to use Wednesday’s rally to re...,6 Hours Ago,https://www.cnbc.com/2022/11/30/jim-cramer-use...
12,White House weighs future release of emergency...,7 Hours Ago,https://www.cnbc.com/2022/11/30/white-house-we...
13,Stock futures tick higher after Wednesday's rally,7 Hours Ago,https://www.cnbc.com/2022/11/30/stock-market-f...
14,Stocks making the biggest moves after hours: S...,7 Hours Ago,https://www.cnbc.com/2022/11/30/stocks-making-...
15,Jerome Powell says the Fed may ease off 'jumbo...,7 Hours Ago,https://www.cnbc.com/2022/11/30/jerome-powell-...
16,U.S. official says China is a growing threat t...,7 Hours Ago,https://www.cnbc.com/2022/11/30/china-is-a-gro...
17,,7 Hours Ago,/pro/
18,Broke and down to one credit card: Former FTX ...,7 Hours Ago,https://www.cnbc.com/2022/11/30/former-ftx-ceo...
19,,8 Hours Ago,/investingclub/
20,,8 Hours Ago,/pro/
21,"After Great Resignation and quiet quitting, th...",8 Hours Ago,https://www.cnbc.com/2022/11/30/after-great-re...
22,Netflix CEO says he wishes he came around soon...,8 Hours Ago,https://www.cnbc.com/2022/11/30/netflix-ceo-re...
23,Snowflake shares drop on light product revenue...,8 Hours Ago,https://www.cnbc.com/2022/11/30/snowflake-snow...
24,Salesforce stock falls over 5% on earnings and...,8 Hours Ago,https://www.cnbc.com/2022/11/30/salesforce-crm...
25,"Bret Taylor steps down as Salesforce co-CEO, l...",8 Hours Ago,https://www.cnbc.com/2022/11/30/bret-taylor-st...
26,Mark Zuckerberg says Apple's App Store policie...,9 Hours Ago,https://www.cnbc.com/2022/11/30/mark-zuckerber...
27,IRS gives Trump tax returns to House committee...,9 Hours Ago,https://www.cnbc.com/2022/11/30/irs-gives-trum...
28,McDonald's is giving away free food for life—h...,9 Hours Ago,https://www.cnbc.com/2022/11/30/mcdonalds-is-g...
29,,9 Hours Ago,/investingclub/

# Question 8
Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

Scrape below mentioned details :

i) Paper Title

ii) Authors

iii) Published Date

iv) Paper URL

In [13]:
# send to get request to the webpage server to get the sorce code of the page
page=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
# print(page)

#page Content
soup=BeautifulSoup(page.content)
# print(soup)



#for paper Title and link of paper
title1=soup.find('a',class_='sc-5smygv-0 fIXTHm')
# print(title1.get('href'))
# print(title1.text)

# for all paper Title and links
link=[]
title=[]
for i in soup.find_all('a',class_='sc-5smygv-0 fIXTHm'):
    title.append(i.text)
    link.append(i.get('href'))

# print('Link of paper = ',link)
# print('\n')
# print('Title of paper = ',title)
# print('\n')



# paper Author
Author=soup.find('span',class_='sc-1w3fpd7-0 dnCnAO')
# print(Author.text)

#find all authors 
Authors=[]
for i in soup.find_all('span',class_='sc-1w3fpd7-0 dnCnAO'):
    Authors.append(i.text)
# print('Authors = ',Authors)


#paper Published Date
Published=soup.find('span',class_='sc-1thf9ly-2 dvggWt')
# print(Published.text)

#find all Published Date 
Published_Date=[]
for i in soup.find_all('span',class_='sc-1thf9ly-2 dvggWt'):
    Published_Date.append(i.text)

# print('Published Date = ',Published_Date)

#creation of DataFrame
df=pd.DataFrame({
    'Paper Title':title,
    'Authors':Authors,
    'Published Date':Published_Date,
    'Paper URL':link
})
df

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# Question 9

Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name

ii) Cuisine

iii) Location

iv) Ratings

v) Image URL

In [14]:
# send to get request to the webpage server to get the sorce code of the page
page=requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
# print(page)

#page Content
soup =BeautifulSoup(page.content)
# print(soup)



#Scraping first Name
first_title=soup.find('a',class_="restnt-name ellipsis")
# print(first_title)
# print("first_title=",first_title.text)
# print('\n')

#Scraping Multiple Titles
title=[]
for i in soup.find_all('a',class_="restnt-name ellipsis"):
    title.append(i.text)
    
# print("titles=",title)
# print('\n')



#Scraping first Location
loc=soup.find('div',class_='restnt-loc ellipsis')
# print(loc)
# print('Location=',loc.text)
# print('\n')

#Scraping Multiple Location
Location=[]
for i in soup.find_all('div',class_='restnt-loc ellipsis'):
    Location.append(i.text)
    
# print("Location=",Location)
# print('\n')

# Scraping first price
price=soup.find('span',class_='double-line-ellipsis')
# print(price)
# print(price.text)
# print(price.text.split('|'))
# print(price.text.split('|')[0])
# print('\n')

#Scraping Multiple Price
Price=[]
for i in soup.find_all('span',class_='double-line-ellipsis'):
    Price.append(i.text.split('|')[0])
    
# print("Price=",Price)
# print('\n')

#Scraping Multiple images
images=[]
for i in soup.find_all('img',class_='no-img'):
    images.append(i.get('data-src'))
    
# print("Images=",images)
# print('\n')

# Scraping first Cuisine
Cuisine=soup.find('span',class_='double-line-ellipsis')
# print(Cuisine)
# print(Cuisine.text)
# print(Cuisine.text.split('|'))
# print(Cuisine.text.split('|')[1])
# print('\n')

#Scraping Multiple Cuisine
Cuisine=[]
for i in soup.find_all('span',class_='double-line-ellipsis'):
    Cuisine.append(i.text.split('|')[1])
    
# print("Cuisine=",Cuisine)
# print('\n')


# Scraping first Rating
Rating=soup.find('div',class_='restnt-rating rating-4')
# print(Rating)
# print(Rating.text)
# print('\n')

#Scraping Multiple Rating
Rating=[]
for i in soup.find_all('div',class_='restnt-rating rating-4'):
    Rating.append(i.text)
    
# print("Rating=",Rating)
# print('\n')


# create Dataframe
df=pd.DataFrame({'Restaurant name':title,
                 'Cuisine':Cuisine,
                'Location':Location,
                 'Ratings':Rating,
                'Price':Price,
                'Images':images})
df

,Restaurant name,Cuisine,Location,Ratings,Price,Images
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,"₹ 2,000 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,"₹ 1,680 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,"₹ 3,000 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,"₹ 2,000 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,"₹ 1,700 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,"₹ 2,400 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.6,"₹ 1,800 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,"₹ 1,900 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,"₹ 2,200 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...

# Question 10
Write a python program to scrape the details of top publications from Google Scholar from
https://scholar.google.com/citations?view_op=top_venues&hl=en

In [15]:
# send to get request to the webpage server to get the sorce code of the page
page=requests.get("https://scholar.google.com/citations?view_op=top_venues&hl=en")
# print(page)

#page Content
soup =BeautifulSoup(page.content)
# print(soup)


#find rank of publications
rank=soup.find('td',class_='gsc_mvt_p')
# print(rank.text)
#Scraping multiple ranks
rank=[]
for i in soup.find_all('td',class_='gsc_mvt_p'):
    i=i.text
    i=int(re.sub(r'[^0-9]','',i))
    rank.append(i)
# print('Rank of publications = ',rank)
# print('\n')



#find name of publications
publications=soup.find('td',class_='gsc_mvt_t')
# print(publications.text)
#scraping multiple publications
publications=[]
for i in soup.find_all('td',class_='gsc_mvt_t'):
    publications.append(i.text)
# print('Name of publications = ',publications)
# print('\n')



#find h5-index,h5-median
#find h5-index
h5_index=soup.find('td',class_='gsc_mvt_n')
# print(h5_index.text)
#find h5-median
h5_median=soup.find('span',class_='gs_ibl gsc_mp_anchor')
# print(h5_median.text)

#Scraping multiple h5-indexs & h5-median
h5_index_median=[]
for i in soup.find_all('td',class_='gsc_mvt_n'):
    h5_index_median.append(i.text)
# print("Publication h5-indexs && h5-median = ",h5_index_median)
# print('\n')


h5_index=[]
h5_median=[]
x=len(h5_index_median)
for i in range(0,x):
    if(i%2==0):
        h5_index.append(h5_index_median[i])
    else:
        h5_median.append(h5_index_median[i])

# print("Publication h5-index = ",h5_index)
# print('\n')
# print("Publication h5-median = ",h5_median)
# print('\n')

#creation of dataframe
df=pd.DataFrame({'Rank of publications':rank,
                'Name of publications':publications,
                "Publication h5-indexs":h5_index,
                "Publication h5-median":h5_median})
df

,Rank of publications,Name of publications,Publication h5-indexs,Publication h5-median
0,1,Nature,444,667
1,2,The New England Journal of Medicine,432,780
2,3,Science,401,614
3,4,IEEE/CVF Conference on Computer Vision and Pat...,389,627
4,5,The Lancet,354,635
...,...,...,...,...
95,96,Journal of Business Research,145,233
96,97,Molecular Cancer,145,209
97,98,Sensors,145,201
98,99,Nature Climate Change,144,228
99,100,IEEE Internet of Things Journal,144,212